<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>securityfilter</filter-name>
    <filter-class>com.elective.filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>securityfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>localefilter</filter-name>
    <filter-class>com.elective.filter.SessionLocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>localefilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.elective.filter.EncodingFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>updatefilter</filter-name>
    <filter-class>com.elective.filter.UpdateResourcesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>updatefilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.elective.listener.CountUserListener</listener-class>
  </listener>

    <description>MySQL Elective</description>
    <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/TestDB</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
    </resource-ref>

</web-app>
